<div class="uk-card uk-card-default">
	<div class="uk-card-header">
		<span uk-icon="icon: r-add-car; ratio: 2"></span>
		<label>اضافه کردن ماشین</label>
	</div>
	<div class="uk-card-body">
		<form class="uk-grid-small" uk-grid>
			<div class="uk-margin">
				<label for="">نام تعمیرگاه</label>
				<input type="text" class="uk-input" maxlength="100">
			</div>

			<div class="uk-margin">
				<label for="">نوع تعمیرگاه:</label>
				
				
				<input type="radio" class="uk-radio" name="type">
				<label for="">ثابت</label>
				
				<input type="radio" class="uk-radio" name="type">
				<label for="">سیار</label>
			</div>

			<div class="uk-margin">
				<label for="">تلفن ثابت:</label>
				<input type="text" class="uk-input" maxLength="8">
			</div>

			<div class="uk-margin">
				<label for="">تلفن همراه:</label>
				<input type="text" class="uk-input" maxLength="10">
			</div>

			<div class="uk-margin">
				<label for="">استان:</label>
				<select class="uk-select" name="" id="">
					<option value="">تهران</option>
					<option value="">اصفهان</option>
					<option value="">احمد آزاد</option>
				</select>
			</div>

			<div class="uk-margin">
				<label for="">شهر:</label>
				<select class="uk-select" name="" id="">
					<option value="">تهران</option>
					<option value="">اصفهان</option>
					<option value="">احمد آزاد</option>
				</select>
			</div>

			<div class="uk-margin">
				<label for="">آدرس:</label>
				<textarea cllass="uk-textarea" cols="30" rows="10"></textarea>
			</div>


		</form>
	</div>
	<div class="uk-card-footer">
		<button type="button" class="uk-button uk-button-primary">ادامه</button>
	</div>
</div>