<header class="uk-card uk-card-body uk-width-1-1 green lighten-5">

	<nav>
		<ul class="uk-subnav uk-subnav-divider" uk-margin>
			<li>
				<a class="uk-button uk-button-text" uk-toggle="target: #sidebar">
					<span uk-icon="icon: menu">
				</a>
			</li>
			<li class="uk-active">
				<a href="#">خانه</a>
			</li>
			<li class="uk-active">
				<a href="#">تعمیرگاه ها</a>
			</li>
			<li>
				<a href="#">Item</a>
			</li>
			<li>
				<a href="#">Item</a>
			</li>
		</ul>
	</nav>

	<form class="uk-search uk-search-default">
		<a href="" class="uk-search-icon-flip" uk-search-icon></a>
		<input class="uk-search-input" type="search" placeholder="جست و جو">
	</form>
</header>