<div class="r-plate r-plate-view">
	<div class="r-c1">
		<label for="plate-right" class="r-text r-font">ایران</label>
		<label class="r-text uk-display-block">99</label>
	</div>
	<div class="r-c2">
		<label class="r-text r-mid">123</label>
	</div>
	<div class="r-c3">
		<label class="r-text r-mid">الف</label>
	</div>
	<div class="r-c4">
		<label class="r-text r-mid">25</label>
	</div>
	<div class="r-c5 ">
		<img src="/images/plate-side.png" alt="plate-side">
	</div>
</div>