<div class="r-plate r-plate-edit">
	<div class="r-c1">
		<label for="plate-right" class="r-text r-font">ایران</label>
		<input type="text" maxlength="2" id="plate-right" class="uk-input r-text uk-padding-remove" value="99">
	</div>
	<div class="r-c2">
		<input type="text" maxlength="3" class="uk-input r-text r-height uk-padding-remove" value="123">
	</div>
	<div class="r-c3">
		<select class="uk-select r-text r-height">
			<option value="">الف</option>
			<option value="">ب</option>
			<option value="">ج</option>
			<option value="">د</option>
		</select>
	</div>
	<div class="r-c4">
		<input type="text" maxlength="2" class="uk-input r-text r-height uk-padding-remove" value="25">
	</div>
	<div class="r-c5 ">
		<img src="/images/plate-side.png" alt="plate-side">
	</div>
</div>