<div>
	<div class="uk-card uk-card-default uk-box-shadow-hover-large r-card-border
	{{#if fixed}}
	yellow lighten-5
	{{else if moving}}
	cyan lighten-5
	{{/if}}"
	>
		<div class="uk-card-header uk-padding-small">
			<h3 class="uk-float-left">بنز طلایی</h3>
			<span class="uk-float-right" uk-icon="
			{{#if fixed}}
				icon: r-fixed-service-center;
			{{else if moving}}
				icon: r-moving-service-center;
			{{/if}}
			ratio:3"></span>
			
		</div>
		<div class="uk-car-body uk-padding-small uk-text-center">
			<table class="uk-table uk-table-striped">
				<caption>خدمات</caption>
				<thead>
					<tr>
						<th>ش</th>
						<th>ش</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>s</td>
						<td>s</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small">
				<span uk-icon="icon: r-request-service; ratio: 1.4"></span> درخواست
			</button>
			<button type="button" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small">
				<span uk-icon="icon: r-view; ratio: 1.4"></span> مشاهده
			</button>
		</div>
	</div>
</div>