<div id="sidebar" uk-offcanvas="mode: reveal">
	<div class="uk-offcanvas-bar">
		<button class="uk-offcanvas-close" type="button" uk-close></button>
		<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
			<li>
				<a class="uk-button-text" href="#">
					<span uk-icon="icon: r-request-service; ratio: 1.3" class="uk-margin-small-right"></span> درخواست سرویس</a>
			</li>
			<li>
				<a class="uk-button-text" href="#">
					<span uk-icon="icon: r-create-service-center; ratio: 1.3" class="uk-margin-small-right"></span> ایجاد تعمیرگاه</a>
			</li>
			<li>
				<a class="uk-button-text" href="#">
					<span uk-icon="icon: r-my-cars; ratio: 1.3" class="uk-margin-small-right"></span> ماشین های من</a>
			</li>
			<li>
				<a class="uk-button-text" href="#">
					<span uk-icon="icon: r-transactions; ratio: 1.3" class="uk-margin-small-right"></span> تراکنش ها</a>
			</li>
		</ul>
	</div>
</div>