<div class="
uk-card
uk-card-default
uk-padding-small
uk-margin-remove
uk-height-1-1" uk-sticky="offset: 114;">
	<ul id="sidebar" class="uk-nav-defualt" uk-nav>
		<li>
			<a class="uk-button-text" href="/">
				<span uk-icon="icon: home; ratio: 1.7"></span> خانه</a>
		</li>
		<li class="">
			<a class="uk-button-text" href="/service-centers">
				<span uk-icon="icon: r-service-centers; ratio: 1.7"></span> مراکز خدماتی</a>
		</li>
		<li>
			<a class="uk-button-text" href="/request-service">
				<span uk-icon="icon: r-request-service; ratio: 1.3" class="uk-margin-small-right"></span> درخواست سرویس</a>
		</li>
		<li>
			<a class="uk-button-text" href="/create-service-center/1">
				<span uk-icon="icon: r-create-service-center; ratio: 1.3" class="uk-margin-small-right"></span> ایجاد تعمیرگاه</a>
		</li>
		<li>
			<a class="uk-button-text" href="/my-cars">
				<span uk-icon="icon: r-my-cars; ratio: 1.3" class="uk-margin-small-right"></span> ماشین های من</a>
		</li>
		<li>
			<a class="uk-button-text" href="#">
				<span uk-icon="icon: r-transactions; ratio: 1.3" class="uk-margin-small-right"></span> تراکنش ها</a>
		</li>
	</ul>

	<ul id="sidebar-slim" class="uk-hidden uk-nav-defualt" uk-nav>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="/" title="خانه" uk-tooltip="pos: left;">
				<span uk-icon="icon: home; ratio: 2;"></span>
			</a>
		</li>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="/service-centers" title="مراکز خدماتی" uk-tooltip="pos: left;">
				<span uk-icon="icon: r-service-centers; ratio: 2;"></span>
			</a>
		</li>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="/request-service" title="درخواست سرویس" uk-tooltip="pos: left;">
				<span uk-icon="icon: r-request-service; ratio: 2;" class="uk-margin-small-right"></span>
			</a>
		</li>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="/create-service-center/1" title="ایجاد تعمیرگاه" uk-tooltip="pos: left;">
				<span uk-icon="icon: r-create-service-center; ratio: 2" class="uk-margin-small-right"></span>
			</a>
		</li>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="/my-cars" title="ماشین های من" uk-tooltip="pos: left;">
				<span uk-icon="icon: r-my-cars; ratio: 2" class="uk-margin-small-right"></span>
			</a>
		</li>
		<li class="uk-margin-small">
			<a class="uk-button uk-button-text" href="#" title="تراکنش ها" uk-tooltip="pos: left;">
				<span uk-icon="icon: r-transactions; ratio: 2" class="uk-margin-small-right indigo-text"></span>
			</a>
		</li>
	</ul>
</div>