<div class="uk-offcanvas-content">
	<div id="sidebar" uk-offcanvas="mode: push">
		<div class="uk-offcanvas-bar">
			<button class="uk-offcanvas-close" type="button" uk-close></button>
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li><a href="#"><span uk-icon="icon: table"></span> درخواست سرویس</a></li>
				<li><a href="#"><span uk-icon="icon: thumbnails"></span> ایجاد تعمیرگاه</a></li>
				<li><a href="#"><span uk-icon="icon: trash"></span> ماشین های من</a></li>
				<li><a href="#"><span uk-icon="icon: trash"></span> تراکنش ها</a></li>
			</ul>
		</div>
	</div>	
</div>