<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<title>سامانه رگلاژ</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	{{>header}}
	<div uk-grid class="uk-grid-collapse">
		<div id="sidebar-container" class="uk-height-viewport">
			{{>sidebar}}
		</div>
		<div class="uk-width-expand">
			{{{body}}}
		</div>
	</div>

	<script type="text/javascript" src="/js/uikit.js"></script>
	<script type="text/javascript" src="/js/uikit-icons.js"></script>
	<script type="text/javascript" src="/js/jquery.slim.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>