<div class="uk-card uk-card-default">
	<div class="uk-card-header">
		<h1 class="uk-card-title">اضافه کردن ماشین</h1>
		<span uk-icon="icon: logo; ratio: 3"></span>
	</div>
	<div class="uk-card-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
	</div>
	<div class="uk-card-footer">
		<button type="button" class="uk-button uk-button-primary">ادامه</button>
	</div>
</div>