@import "fontfaces";
// $global-font-family:                             BNazanin, BYekan, Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$global-font-family:                             BYekan, BNazanin, Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// $global-font-family:                             Tahoma, BNazanin, BYekan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$global-font-size:                               16px;
$global-line-height:                             1.5;      // 24px
$global-xxlarge-font-size:                       2.625rem; // 42px
$global-xlarge-font-size:                        2rem;     // 32px
$global-large-font-size:                         1.5rem;   // 24px
$global-medium-font-size:                        1.25rem;  // 20px
$global-small-font-size:                         0.875rem; // 14px
$global-color:                                   #3D5781;
$global-emphasis-color:                          #333;
$global-muted-color:                             #999;
$global-link-color:                              #1e87f0;
$global-link-hover-color:                        #0f6ecd;
$global-inverse-color:                           #fff;
$global-background:                              #fff;
$global-muted-background:                        #f8f8f8;
$global-primary-background:                      #1e87f0;
$global-secondary-background:                    #222;
$global-success-background:                      #32d296;
$global-warning-background:                      #faa05a;
$global-danger-background:                       #f0506e;

$card-hover-background:                         $global-muted-background !default;

$card-default-background:                       $global-muted-background !default;
$card-default-color:                            $global-color !default;
$card-default-title-color:                      $global-emphasis-color !default;
$card-default-hover-background:                 darken($card-default-background, 5%) !default;

$card-primary-background:                       $global-primary-background !default;
$card-primary-color:                            $global-inverse-color !default;
$card-primary-title-color:                      $card-primary-color !default;
$card-primary-hover-background:                 darken($card-primary-background, 5%) !default;
$card-primary-color-mode:                       light !default;

$card-secondary-background:                     $global-secondary-background !default;
$card-secondary-color:                          $global-inverse-color !default;
$card-secondary-title-color:                    $card-secondary-color !default;
$card-secondary-hover-background:               darken($card-secondary-background, 5%) !default;
$card-secondary-color-mode:                     light !default;

@import "../ukscss/variables-theme.scss";

@import "../ukscss/mixins-theme.scss";

@import "../ukscss/uikit-theme.scss";

@import "color";
@import "plate";

.r-header {
	border-bottom: 4px solid red;
	background: #f1f1f1;
}
.r-card-border {
	@extend .uk-border-rounded;
	border: 1px solid rgb(212, 212, 212);
}

.r-car {
	background: #f9f9f9;
	.uk-drop {
		width: 200px;
	}
}

.r-progress-line {
	border-bottom: 2px solid $global-color;
}